<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="mooslogo" src="images/moos.png" alt="moos logo">
        </div>
        <div class="col-md-12" id="titleDiv"></div>
            <h1 id="title">Moos News</h1>
        </div>
    </div>
    <div class="row" class="linkRow">
        <div class="col-md-4">
            <a href="/saved" class="upper-link">SAVED ARTICLES</a>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-sm" id="scrapeBtn">GATHER NEWS</button>
        </div>
        <div class="col-md-4">
            <a href="https://spacenews.com/segment/news/" class="upper-link" target="_blank">SPACENEWS.COM</a>
        </div>
    </div>

    <hr>
    <div class="row">
        {{#each result}}
        {{#unless saved}}
        <div class="col-md-6">

            <div class="article">
                <h2 class="headline">{{headline}}</h2>
                <h6 class="author">Author: {{author}}</h6>
                <div class="summary">{{summary}}</div>
                <hr>
                <div class="row" id="bottom-row">
                    <div class="col-md-6">
                        <a href={{link}} class="link" target="_blank">VIEW ARTICLE</a>
                    </div>
                    <div class="col-md-6">
                        <form action="/update" method="PUT" id="save-article">
                            <input type="hidden" name="id" value={{_id}}>
                            <button class="btn btn-lg" id="saveBtn" type="submit">SAVE</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        {{/unless}}
        {{/each}}
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#scrapeBtn").on("click", function (event) {
            event.preventDefault();
            $.get("/newscrape", function (data) {
                location.reload();
            });
        });

        $("#save-article").on("click", function (event) {
            event.preventDefault();
            var id = $(this).children().val();
            var data = {
                _id: id
            }
            $.ajax("/update/" + id, {
                type: "PUT",
                data: data
            })
            location.reload();
        });
    });
</script>